#design {
	background: url("/images/photos/view-9.jpg") no-repeat;
	background-size: 100%;
	padding-bottom: 0;
}

#design .panel {
	background-color: rgba(255, 255, 255, 0.9);
}

#design .panel-heading {
	cursor: pointer;
}

#design input,
#design select,
#design textarea {
	background-color: transparent;
	border-color: #c9cbcf;
}

#preview, #control, #settings {
	margin-bottom: 0;
}

#control .tab-pane .btn {
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 0;
}

#preview, #control .panel-body, #settings .panel-body {
	overflow-y: auto
}

#preview .form-group {
	position: relative;
}

#preview .form-group:hover,
#preview .form-group.selected {
	outline: 1px #62a8ea dashed;
	background-color: rgba(98, 168, 234, 0.2);
}

#preview .form-group .action {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 99;
	display: none;
}

#preview .form-group .action > button {
	padding: 3px;
}

#preview .form-group:hover > .action,
#preview .form-group.selected > .action {
	display: block;
}

#settings blockquote {
	padding: 5px 15px;
	margin: 0 -20px 5px -20px;
	line-height: 1.6;
	background-color: rgba(0, 0, 0, 0.1);
	border-color: rgba(0, 0, 0, 0.3);
}

#settings .btn-group-sm > .btn {
	padding-left: 5px;
	padding-right: 5px;
}

.form-hide {
	opacity: 0.5;
}

.note-editable {
	background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-track-piece {
	background-color: #eee;
}

::-webkit-scrollbar {
	width: 8px;
	height: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: #ddd;
	background-clip: padding-box;
	min-height: 28px;
	border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #ccc;
}
