<title>万能表单</title>

<link rel="stylesheet" href="/css/examples/forms/wnform.css">

<script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>

<div class="page animation-fade">

	<div class="page-header">
		<h1 class="page-title">万能表单</h1>
		<p class="page-description"></p>
		<div class="page-header-actions">
			<a class="btn btn-inverse btn-round" href="http://clippings.github.io/layout-grid/" target="_blank">
				<i class="icon wb-link" aria-hidden="true"></i> <span class="hidden-xs">官网</span></a>
		</div>
	</div>

	<div class="page-content container-fluid" id="design">
		<div class="row">

			<div class="col-md-3">
				<div class="panel nav-tabs-horizontal" data-approve="nav-tabs" id="control">
					<ul class="nav nav-tabs nav-tabs-bottom nav-tabs-line" role="tablist">
						<li class="active" role="presentation">
							<a data-toggle="tab" href="#field-basic" aria-controls="field-basic" role="tab">
								<i class="icon wb-plugin" aria-hidden="true"></i>基础
							</a>
						</li>
						<li role="presentation">
							<a data-toggle="tab" href="#field-image" aria-controls="field-image" role="tab">
								<i class="icon wb-user" aria-hidden="true"></i>图片
							</a>
						</li>
						<li role="presentation">
							<a data-toggle="tab" href="#field-contacts" aria-controls="field-contacts" role="tab">
								<i class="icon wb-tag" aria-hidden="true"></i>联系人
							</a>
						</li>
						<li role="presentation">
							<a data-toggle="tab" href="#field-chart" aria-controls="field-chart" role="tab">
								<i class="icon wb-cloud" aria-hidden="true"></i>图表
							</a>
						</li>
					</ul>
					<div class="panel-body">
						<div class="tab-content">
							<div class="tab-pane active" id="field-basic" role="tabpanel">
								<div class="row">
									<button type="button" class="btn btn-primary col-xs-3"
											v-for="(item,name) in fieldsConfig"
											:key="item.name" @click="addControl(name)"
											v-if="item.isShow!==false">
										<i :class="item.icon" aria-hidden="true"></i> <br>
										<span class="text-uppercase hidden-xs">{{item.title}}</span>
									</button>
								</div>
							</div>
							<div class="tab-pane" id="field-image" role="tabpanel">
							</div>
							<div class="tab-pane" id="field-contacts" role="tabpanel">
							</div>
							<div class="tab-pane" id="field-chart" role="tabpanel">
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6">
				<div class="panel" id="preview">
					<div class="panel-heading">
						<h3 class="panel-title" @click="chooseControl({name:'form',options:form})">{{form.title}}</h3>
					</div>
					<div class="panel-body">
						<div class="description" v-html="form.description"></div>

						<div class="form-group" :class="{selected:control===field}" v-for="(field,index) in form.fields"
								:key="field.object_id" @click="chooseControl(field)">
							<div class="pull-right action">
								<button type="button" class="btn btn-pure btn-danger icon wb-trash" @click.capture.stop="removeControl(index)"></button>
							</div>

							<label class="control-label" :for="field.object_id">{{field.options.title}}</label>

							<input type="text" class="form-control" :id="field.object_id" name="field.object_id"
									:placeholder="field.options.placeholder" v-if="field.name==='string'">

						</div>
						<!--{{form}}-->
					</div>
				</div>
			</div>

			<div class="col-md-3">
				<div class="panel" id="settings">
					<div class="panel-heading">
						<h3 class="panel-title">配置</h3>
					</div>
					<div class="panel-body" style="overflow-y: auto">
						<template v-for="group in getControlOptions(control.name)">
							<blockquote>{{group.title}}</blockquote>
							<div class="form-group" v-for="(option,key) in group.options"
									v-if="isShowAttribute(option)">
								<label class="control-label" :for="key">{{option.title}}</label>

								<input type="text" class="form-control" :id="key" v-model="chooseOptions[key]"
										v-if="option.type==='string'">
								<div class="checkbox-custom checkbox-primary" v-if="option.type==='switch'">
									<input type="checkbox" :id="key" v-model="chooseOptions[key]"/>
									<label :for="key">开启</label>
								</div>

							</div>
						</template>
						{{control}}
					</div>
				</div>
			</div>

		</div>
	</div>

</div>

<script src="/js/examples/forms/wnform.js"></script>