<title>网站地图</title>

<link rel="stylesheet" href="/css/site-map.css">

<div class="page animation-fade page-site-map">
    <div class="page-header">
        <h1 class="page-title">网站地图</h1>
    </div>
    <div class="page-content container-fluid">
        <div class="panel">
            <div class="panel-body">
                <div class="row" data-plugin="masonry" data-item-selector=".grid-item">
                    <div class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 grid-item">
                        <h4><i class="icon wb-library"></i> UI 示例</h4>
                        <ul class="sitemap-list">
                            <li>
                                <a href="javascript:;">UI 示例</a>
                                <ul>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank">
                                            <i class="icon fa-laptop"></i> <span>布局</span></a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;" data-pjax="" target="_blank"><span>栅格</span></a>
                                                <ul class="sitemap-list-sub">
                                                    <li>
                                                        <a href="/examples/components/layouts/grids.html" data-pjax="" target="_blank">
                                                            基本栅格
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/examples/components/layouts/layout-grid.html" data-pjax="" target="_blank">
                                                            布局栅格
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="javascript:;" data-pjax="" target="_blank"><span>标题栏</span></a>
                                                <ul class="sitemap-list-sub">
                                                    <li>
                                                        <a href="/examples/components/layouts/headers.html" data-pjax="" target="_blank">
                                                            普通
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/examples/components/layouts/bordered-header.html" data-pjax="" target="_blank">
                                                            带边框
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/examples/components/layouts/panel-transition.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>面板动画</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/layouts/boxed.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>盒式布局</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/layouts/page-aside.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>侧边栏</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/layouts/two-columns.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>两栏式布局</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank"><i class="icon fa-cube"></i>
                                            <span>基本</span></a>
                                        <ul>
                                            <li>
                                                <a href="javascript:;" data-pjax="" target="_blank"><span>面板</span></a>
                                                <ul class="sitemap-list-sub">
                                                    <li>
                                                        <a href="/examples/components/basic/panel/structure.html" data-pjax="" target="_blank">
                                                            面板结构
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/examples/components/basic/panel/actions.html" data-pjax="" target="_blank">
                                                            面板操作
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/examples/components/basic/panel/portlets.html" data-pjax="" target="_blank">
                                                            面板组件
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/buttons.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>按钮</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/icons.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>矢量图标</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/dropdowns.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>下拉菜单</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/list.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>列表组</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/tooltip-popover.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>气泡提示 &amp; 弹出框</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/modals.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>模态框</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/tabs-accordions.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>选项卡 &amp; 折叠面板</span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/images.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>图片</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/badges-labels.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>徽章 &amp; 标签</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/carousel.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>轮播组件</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/typography.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>排版</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/progress-bars.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>进度条</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/colors.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>配色方案</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/basic/utilities.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>辅助类</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank">
                                            <i class="icon fa-cubes"></i> <span>进阶</span></a>
                                        <ul>
                                            <li>
                                                <a href="/examples/components/advanced/tour.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>新手指引</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/advanced/animation.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>动画</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/advanced/highlight.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>代码高亮</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/advanced/lightbox.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>灯箱</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/advanced/scrollbar.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>滚动条</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/advanced/rating.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>评分</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/advanced/context-menu.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>右键菜单</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/advanced/alertify.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>Alertify弹框</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/advanced/masonry.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>瀑布流布局</span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" data-pjax="" target="_blank"><span>树形控件</span>
                                                </a>
                                                <ul class="sitemap-list-sub">
                                                    <li>
                                                        <a href="/examples/components/advanced/tree/jstree.html" data-pjax="" target="_blank">
                                                            JsTree
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/examples/components/advanced/tree/treeview.html" data-pjax="" target="_blank">
                                                            Treeview
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/examples/components/advanced/toastr.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>Toaster 通知</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/advanced/sortable-nestable.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>拖动排序</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/advanced/bootbox-sweetalert.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>弹层组件</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank"><i class="icon fa-plug"></i>
                                            <span>组件</span></a>
                                        <ul>
                                            <li>
                                                <a href="/examples/components/structure/alerts.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>警告框</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/ribbon.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>彩带</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/pricing-tables.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>价目表</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/overlay.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>遮罩</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/cover.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>覆盖层</span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" data-pjax="" target="_blank"><span>时间轴</span></a>
                                                <ul class="sitemap-list-sub">
                                                    <li>
                                                        <a href="/examples/components/structure/timeline/simple.html" data-pjax="" target="_blank">
                                                            简单时间轴
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/examples/components/structure/timeline/icons.html" data-pjax="" target="_blank">
                                                            图标时间轴
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/step.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>步骤条</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/comments.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>评论</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/media.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>媒体</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/chat.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>聊天窗口</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/testimonials.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>客户评价</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/nav.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>导航</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/navbars.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>导航条</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/blockquotes.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>引用</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/pagination.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>分页</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/structure/breadcrumbs.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>包屑导航</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank">
                                            <i class="icon fa-puzzle-piece"></i> <span>小工具</span></a>
                                        <ul>
                                            <li>
                                                <a href="/examples/components/widgets/statistics.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>统计</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/widgets/data.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>数据</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/widgets/blog.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>博客</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/widgets/chart.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>图表</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/widgets/social.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>社交</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/components/widgets/weather.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>天气</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 grid-item">
                        <h4><i class="icon wb-desktop"></i> 页面示例</h4>
                        <ul class="sitemap-list">
                            <li>
                                <a href="javascript:;">页面示例</a>
                                <ul>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank"><i class="icon fa-home"></i>
                                            <span>首页示例</span></a>
                                        <ul>
                                            <li>
                                                <a href="/examples/pages/home/index-v1.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>首页示例 01</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/home/index-v2.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>首页示例 02</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/home/ecommerce.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>电商网站型</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/home/analytics.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>数据统计型</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/home/team.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>团队协作型</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank">
                                            <i class="icon fa-files-o"></i> <span>常用页面</span></a>
                                        <ul>
                                            <li>
                                                <a href="/examples/pages/general/blank.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>空白页面</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/general/faq.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>帮助文档</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/general/gallery-grid.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>相册</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/general/search-result.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>搜索</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/general/user.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>客户列表</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/general/email.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>邮件模板</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/general/code-editor.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>代码编辑器</span></a>
                                            </li>
                                            <li>
                                                <a href="/error.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>错误页面</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/errors/no-auth-inner.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>没有权限</span></a>
                                            </li>
                                            <li>
                                                <a href="/maintenance.html" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>网站维护中</span></a>
                                            </li>
                                            <li>
                                                <a href="/locked.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>锁屏页面</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank">
                                            <i class="icon fa-group"></i> <span>团队协作</span></a>
                                        <ul>
                                            <li>
                                                <a href="/examples/pages/team/calendar.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>日历</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/team/notebook.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>笔记</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/team/taskboard.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>任务看板</span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" data-pjax="" target="_blank"><span>知识库</span></a>
                                                <ul class="sitemap-list-sub">
                                                    <li>
                                                        <a href="/examples/pages/team/documents/articles.html" data-pjax="" target="_blank">
                                                            列表
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/examples/pages/team/documents/categories.html" data-pjax="" target="_blank">
                                                            分类
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/examples/pages/team/documents/article.html" data-pjax="" target="_blank">
                                                            详情
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/team/forum.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>论坛</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/team/message.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>即时通讯</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/team/mailbox.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>邮箱</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/pages/team/media.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>文件管理</span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" data-pjax="" target="_blank"><span>项目</span></a>
                                                <ul class="sitemap-list-sub">
                                                    <li>
                                                        <a href="/examples/pages/team/projects.html" data-pjax="" target="_blank">
                                                            项目列表 01
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/examples/pages/team/work.html" data-pjax="" target="_blank">
                                                            项目列表 02
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 grid-item">
                        <h4><i class="icon wb-table"></i> 表格示例</h4>
                        <ul class="sitemap-list">
                            <li>
                                <a href="javascript:;">表格示例</a>
                                <ul>
                                    <li>
                                        <a href="/examples/tables/basic/index.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-table"></i> <span>基本表格</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/examples/tables/treegrid/index.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-bars"></i> <span>树形表格</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank">
                                            <i class="icon fa-list-alt"></i> <span>DataTables</span></a>
                                        <ul>
                                            <li>
                                                <a href="/examples/tables/data-tables/basic-init/index.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>基本初始化</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/tables/data-tables/advanced-init/index.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>高级初始化</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/tables/data-tables/data-sources/index.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>数据源</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/tables/data-tables/api/index.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>API</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/tables/data-tables/ajax/index.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>AJAX</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/tables/data-tables/server-side/index.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>服务器模式</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/tables/data-tables/plug-ins/index.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>插件</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/tables/data-tables/others/index.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>其他</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 grid-item">
                        <h4><i class="icon wb-order"></i> 表单示例</h4>
                        <ul class="sitemap-list">
                            <li>
                                <a href="javascript:;">表单相关</a>
                                <ul>
                                    <li>
                                        <a href="/examples/forms/general.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-circle-o"></i>
                                            <span>基本表单</span></a>
                                    </li>
                                    <li>
                                        <a href="/examples/forms/material.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-google"></i>
                                            <span>质感风格</span></a>
                                    </li>
                                    <li>
                                        <a href="/examples/forms/advanced.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-toggle-off"></i>
                                            <span>高级表单</span></a>
                                    </li>
                                    <li>
                                        <a href="/examples/forms/layouts.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-indent"></i>
                                            <span>表单布局</span></a>
                                    </li>
                                    <li>
                                        <a href="/examples/forms/wizard.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-arrow-right"></i>
                                            <span>表单向导</span></a>
                                    </li>
                                    <li>
                                        <a href="/examples/forms/validation.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i>
                                            <i class="icon fa-check-square-o"></i> <span>表单验证</span></a>
                                    </li>
                                    <li>
                                        <a href="/examples/forms/masks.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-at"></i> <span>格式预设</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/examples/forms/editable.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-edit"></i> <span>表单编辑</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank">
                                            <i class="icon fa-list-alt"></i> <span>编辑器</span></a>
                                        <ul>
                                            <li>
                                                <a href="/examples/forms/editor/summernote.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>文本编辑器</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/forms/editor/markdown.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>Markdown编辑器</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/forms/editor/ace.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>代码编辑器</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/examples/forms/image-cropping.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-cut"></i> <span>图片裁剪</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/examples/forms/dropify.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-cloud-upload"></i>
                                            <span>文件上传</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 grid-item">
                        <h4><i class="icon wb-pie-chart"></i> 统计图表</h4>
                        <ul class="sitemap-list">
                            <li>
                                <a href="javascript:;">统计图表</a>
                                <ul>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank">
                                            <i class="icon fa-pie-chart"></i> <span>简单图表</span></a>
                                        <ul>
                                            <li>
                                                <a href="/examples/charts/chartjs.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>Chart.js</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/charts/gauges.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>Gauges</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/charts/flot.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>Flot</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/charts/peity.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>Peity</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/charts/sparkline.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>Sparkline</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/charts/morris.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>Morris</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/charts/chartist.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>Chartist</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/charts/rickshaw.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>Rickshaw</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/charts/c3.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>C3</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="/examples/charts/echarts.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-area-chart"></i>
                                            <span>百度 Echarts</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 grid-item">
                        <h4><i class="icon fa-bars"></i> 菜单示例</h4>
                        <ul class="sitemap-list">
                            <li>
                                <a href="javascript:;">菜单演示 01</a>
                                <ul>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank"><i class="icon fa-bars"></i>
                                            <span>一级菜单</span></a>
                                        <ul>
                                            <li>
                                                <a href="/examples/menu.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>二级菜单 01</span></a>
                                            </li>
                                            <li>
                                                <a href="/examples/menu.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>二级菜单 02</span></a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" data-pjax="" target="_blank"><span>二级菜单 03</span>
                                                </a>
                                                <ul class="sitemap-list-sub">
                                                    <li>
                                                        <a href="/examples/menu.html" data-pjax="" target="_blank"> 三级菜单 001
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/examples/menu.html" data-pjax="" target="_blank"> 三级菜单 002
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="/examples/menu.html" data-pjax="" target="_blank"> 三级菜单 003
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-bars"></i> <span>独立菜单</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">菜单演示 02</a>
                                <ul>
                                    <li>
                                        <a href="/examples/menu.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-bars"></i> <span>独立菜单</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="col-xlg-3 col-lg-4 col-md-6 col-sm-6 grid-item">
                        <h4><i class="icon wb-settings"></i> 系统管理</h4>
                        <ul class="sitemap-list">
                            <li>
                                <a href="javascript:;">系统信息</a>
                                <ul>
                                    <li>
                                        <a href="/system/menu.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-bars"></i> <span>菜单管理</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/system/user.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-street-view"></i>
                                            <span>用户管理</span></a>
                                    </li>
                                    <li>
                                        <a href="/system/log.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-file-text-o"></i>
                                            <span>日志信息</span></a>
                                    </li>
                                    <li>
                                        <a href="/system/blacklist.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-shield"></i>
                                            <span>黑名单</span></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" data-pjax="" target="_blank"><i class="icon fa-gear"></i>
                                            <span>系统设置</span></a>
                                        <ul>
                                            <li>
                                                <a href="/system/settings/display.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>显示设置</span></a>
                                            </li>
                                            <li>
                                                <a href="/system/settings/log.html" data-pjax="" target="_blank">
                                                    <i class="icon wb-link pull-right"></i> <span>日志设置</span></a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:;">我的账户</a>
                                <ul>
                                    <li>
                                        <a href="/system/account/index.html" data-pjax="" target="_blank">
                                            <i class="icon wb-link pull-right"></i> <i class="icon fa-key"></i> <span>账户信息</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/vendor/masonry/masonry.pkgd.min.js"></script>
