<title>评论</title>

<div class="page animation-fade">
    <div class="page-header">
        <h1 class="page-title">评论</h1>
        <div class="page-header-actions">
            <form>
                <div class="input-search input-search-dark">
                    <i class="input-search-icon wb-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" name="" placeholder="搜索...">
                </div>
            </form>
        </div>
    </div>
    <div class="page-content">

        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">评论</h3>
            </div>
            <div class="panel-body container-fluid">
                <div class="row row-lg">
                    <div class="col-sm-6">

                        <div class="example-wrap">
                            <h4 class="example-title">带头像</h4>
                            <div class="example">
                                <div class="comment media">
                                    <div class="media-left">
                                        <a class="avatar avatar-lg" href="javascript:;">
                                            <img src="/images/portraits/1.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="comment-body media-body">
                                        <a class="comment-author" href="javascript:;">避雷范儿</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">

                        <div class="example-wrap">
                            <h4 class="example-title">其他</h4>
                            <div class="example">
                                <div class="comment media">
                                    <div class="media-left">
                                        <a class="avatar avatar-lg" href="javascript:;">
                                            <img src="/images/portraits/2.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="comment-body media-body">
                                        <a class="comment-author" href="javascript:;">晓见</a>
                                        <div class="comment-meta">
                                            <span class="date">刚刚</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">

                        <div class="example-wrap">
                            <h4 class="example-title">操作</h4>
                            <div class="example">
                                <div class="comment media">
                                    <div class="media-left">
                                        <a class="avatar avatar-lg" href="javascript:;">
                                            <img src="/images/portraits/3.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="comment-body media-body">
                                        <a class="comment-author" href="javascript:;">思博来地球打酱油AI</a>
                                        <div class="comment-content">
                                            <p>说明雷蛇有数据表明自己的部分客户喜欢的是灯，机械轴才是椟，甚至更喜欢薄膜的手感。</p>
                                        </div>
                                        <div class="comment-actions">
                                            <a class="text-like icon wb-heart" href="javascript:;" role="button"></a>
                                            <a href="javascript:;" role="button">回复</a>
                                            <a href="javascript:;" role="button">编辑</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6">

                        <div class="example-wrap">
                            <h4 class="example-title">回复表单</h4>
                            <div class="example">
                                <div class="comment media">
                                    <div class="media-left">
                                        <a class="avatar avatar-lg" href="javascript:;">
                                            <img src="/images/portraits/4.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="comment-body media-body">
                                        <a class="comment-author" href="javascript:;">不正方</a>
                                        <div class="comment-meta">
                                            <span class="date">5 天前</span>
                                        </div>
                                        <div class="comment-content">
                                            <p>最后加粗的字说到全文的点子上了</p>
                                        </div>
                                        <div class="comment-actions">
                                            <a class="active" href="javascript:;" role="button">回复</a>
                                        </div>
                                        <form class="comment-reply" action="#" method="post">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="5" placeholder="评论内容"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-primary">回复</button>
                                                <button type="button" class="btn btn-link blue-grey-500">取消</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="panel-body">
                <div class="comments margin-horizontal-20">
                    <h3>评论</h3>
                    <div class="comment media">
                        <div class="media-left">
                            <a class="avatar avatar-lg" href="javascript:;">
                                <img src="/images/portraits/5.jpg" alt="...">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="comment-body">
                                <a class="comment-author" href="javascript:;">鸡爪班长</a>
                                <div class="comment-meta">
                                    <span class="date">2016-09-07 15:11:27</span>
                                </div>
                                <div class="comment-content">
                                    <p>
                                        我在手机店工作快三年了，6代快上市的时候定金是500，结果大概有50个人交，6S上市的时候定金也是500，只有大概20个人了。7？特么的问都没人来问，我在桐乡，乌镇属于我们桐乡的一个镇。我已经准备不卖手机了。 </p>
                                </div>
                                <div class="comment-actions">
                                    <a class="text-like active icon wb-heart" href="javascript:;" role="button"></a>
                                    <a href="javascript:;" role="button">回复</a>
                                </div>
                            </div>
                            <div class="comments">
                                <div class="comment media">
                                    <div class="media-left">
                                        <a class="avatar avatar-lg" href="javascript:;">
                                            <img src="/images/portraits/6.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="comment-body media-body">
                                        <a class="comment-author" href="javascript:;">sai821</a>
                                        <div class="comment-meta">
                                            <span class="date">刚刚</span>
                                        </div>
                                        <div class="comment-content">
                                            <p>卖快摇名片如何。。。哈哈</p>
                                        </div>
                                        <div class="comment-actions">
                                            <a class="text-like icon wb-heart" href="javascript:;" role="button"></a>
                                            <a href="javascript:;" role="button">回复</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment media">
                                    <div class="media-left">
                                        <a class="avatar avatar-lg" href="javascript:;">
                                            <img src="/images/portraits/5.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="comment-body media-body">
                                        <a class="comment-author" href="javascript:;">青年Dr水果</a>
                                        <div class="comment-meta">
                                            <span class="date">1 分钟前</span>
                                        </div>
                                        <div class="comment-content">
                                            <p>再坚持坚持，干完明年再撤(必须要果断撤)。</p>
                                        </div>
                                        <div class="comment-actions">
                                            <a class="text-like icon wb-heart" href="javascript:;" role="button"></a>
                                            <a href="javascript:;" role="button">回复</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="comment media">
                        <div class="media-left">
                            <a class="avatar avatar-lg" href="javascript:;">
                                <img src="/images/portraits/7.jpg" alt="...">
                            </a>
                        </div>
                        <div class="comment-body media-body">
                            <a class="comment-author" href="javascript:;">切糕少年</a>
                            <div class="comment-meta">
                                <span class="date">2016-09-07 15:34:30</span>
                            </div>
                            <div class="comment-content">
                                <p>以前连华为A打头这样的烂国货代号配置都记得清楚，现在就知道Galaxy、iPhone这俩系列出到“7”了。其他厂商有啥、出到几、名字带不带“Plus”都搞不清了。</p>
                            </div>
                            <div class="comment-actions">
                                <a class="text-like icon wb-heart" href="javascript:;" role="button"></a>
                                <a class="active" href="javascript:;" role="button">回复</a>
                            </div>
                            <form class="comment-reply" action="#" method="post">
                                <div class="form-group">
                                    <textarea class="form-control" rows="5" placeholder="评论内容…"></textarea>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary">发表评论</button>
                                    <button type="button" class="btn btn-link blue-grey-500">取消</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="comment media">
                        <div class="media-left">
                            <a class="avatar avatar-lg" href="javascript:;">
                                <img src="/images/portraits/8.jpg" alt="...">
                            </a>
                        </div>
                        <div class="comment-body media-body">
                            <a class="comment-author" href="javascript:;">发糕王子</a>
                            <div class="comment-meta">
                                <span class="date">2016-09-07 16:47:11</span>
                            </div>
                            <div class="comment-content">
                                <p>侧面突出摄像头还是没改，这怎么安稳的放桌面玩呢？苹果这是变相给手机套厂家输血吧？</p>
                            </div>
                            <div class="comment-actions">
                                <a class="text-like icon wb-heart" href="javascript:;" role="button"></a>
                                <a href="javascript:;" role="button">回复</a>
                            </div>
                        </div>
                    </div>
                    <form class="comments-add margin-top-35" action="#" method="post">
                        <h3 class="margin-bottom-35">回复</h3>
                        <div class="form-group">
                            <input type="text" class="form-control" name="nickName" placeholder="昵称">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" placeholder="邮件">
                        </div>
                        <div class="form-group">
                            <input type="url" class="form-control" name="website" placeholder="网站">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="5" placeholder="评论内容…"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="button" class="btn btn-primary">发表评论</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
