<title>价目表</title>

<div class="page animation-fade">
    <div class="page-header">
        <h1 class="page-title">价目表</h1>
        <div class="page-header-actions">
            <form>
                <div class="input-search input-search-dark">
                    <i class="input-search-icon wb-search" aria-hidden="true"></i>
                    <input type="text" class="form-control" name="" placeholder="搜索...">
                </div>
            </form>
        </div>
    </div>
    <div class="page-content">

        <div class="panel">
            <div class="panel-body container-fluid">

                <div class="example-wrap">
                    <h4 class="example-title">标题带背景</h4>
                    <div class="example">
                        <div class="row">
                            <div class="col-sm-6 col-lg-3">
                                <div class="pricing-list">
                                    <div class="pricing-header">
                                        <div class="pricing-title">单核2G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">40</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a class="btn btn-primary btn-outline" role="button">
                                            <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="pricing-list">
                                    <div class="pricing-header">
                                        <div class="pricing-title bg-blue-600">单核4G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency blue-600">&yen;</span>
                                            <span class="pricing-amount blue-600">50</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a class="btn btn-primary btn-outline" role="button">
                                            <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="pricing-list">
                                    <div class="pricing-header">
                                        <div class="pricing-title">双核2G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">60</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a class="btn btn-primary btn-outline" role="button">
                                            <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="pricing-list">
                                    <div class="pricing-header">
                                        <div class="pricing-title">双核4G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">70</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a class="btn btn-primary btn-outline" role="button">
                                            <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="example-wrap">
                    <h4 class="example-title">头部带背景</h4>
                    <div class="example">
                        <div class="row">
                            <div class="col-sm-6 col-xlg-3">
                                <div class="pricing-list text-left">
                                    <div class="pricing-header bg-blue-grey-600">
                                        <div class="pricing-title">单核2G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">40</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                        <p class="padding-horizontal-30 padding-bottom-25">
                                            如有更高存储需求，可订购额外的数据盘接驳至主机：1G=1元/月</p>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                        <li>
                                            <strong>*</strong> 除上述服务外，我们还提供标准服务、高级服务，及钻石服务等付费技术支持。
                                        </li>
                                    </ul>
                                    <div class="pricing-footer text-center bg-blue-grey-100">
                                        <a class="btn btn-primary btn-lg">
                                            <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>
                                            开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xlg-3">
                                <div class="pricing-list text-left">
                                    <div class="pricing-header bg-blue-600">
                                        <div class="pricing-title">单核4G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">50</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                        <p class="padding-horizontal-30 padding-bottom-25">
                                            如有更高存储需求，可订购额外的数据盘接驳至主机：1G=1元/月</p>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> 带宽
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                        <li>
                                            <strong>*</strong> 除上述服务外，我们还提供标准服务、高级服务，及钻石服务等付费技术支持。
                                        </li>
                                    </ul>
                                    <div class="pricing-footer text-center bg-blue-grey-100">
                                        <a class="btn btn-primary btn-lg">
                                            <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>
                                            开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xlg-3">
                                <div class="pricing-list text-left">
                                    <div class="pricing-header bg-red-600">
                                        <div class="pricing-title">双核2G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">60</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                        <p class="padding-horizontal-30 padding-bottom-25">
                                            如有更高存储需求，可订购额外的数据盘接驳至主机：1G=1元/月</p>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                        <li>
                                            <strong>*</strong> 除上述服务外，我们还提供标准服务、高级服务，及钻石服务等付费技术支持。
                                        </li>
                                    </ul>
                                    <div class="pricing-footer text-center bg-blue-grey-100">
                                        <a class="btn btn-primary btn-lg">
                                            <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>
                                            开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 col-xlg-3">
                                <div class="pricing-list text-left">
                                    <div class="pricing-header bg-orange-600">
                                        <div class="pricing-title">双核4G</div>
                                        <div class="pricing-price">
                                            <span class="pricing-currency">&yen;</span>
                                            <span class="pricing-amount">70</span>
                                            <span class="pricing-period">/ 月</span>
                                        </div>
                                        <p class="padding-horizontal-30 padding-bottom-25">
                                            如有更高存储需求，可订购额外的数据盘接驳至主机：1G=1元/月</p>
                                    </div>
                                    <ul class="pricing-features">
                                        <li>
                                            <strong>10GB</strong> 存储空间
                                        </li>
                                        <li>
                                            <strong>200MB</strong> 单文件限制
                                        </li>
                                        <li>
                                            <strong>2G</strong> CPU
                                        </li>
                                        <li>
                                            <strong>256MB</strong> 内存
                                        </li>
                                        <li>
                                            <strong>*</strong> 除上述服务外，我们还提供标准服务、高级服务，及钻石服务等付费技术支持。
                                        </li>
                                    </ul>
                                    <div class="pricing-footer text-center bg-blue-grey-100">
                                        <a class="btn btn-primary btn-lg">
                                            <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>
                                            开通
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="example-example">
                    <h4 class="example-title">表格</h4>
                    <div class="example">
                        <div class="pricing-table">
                            <div class="pricing-column-four">
                                <div class="pricing-header">
                                    <div class="pricing-price">
                                        <span class="pricing-currency">&yen;</span>
                                        <span class="pricing-amount">40</span> <span class="pricing-period">/ 月</span>
                                    </div>
                                    <div class="pricing-title">单核2G</div>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <strong>10GB</strong> 存储空间
                                    </li>
                                    <li>
                                        <strong>200MB</strong> 单文件限制
                                    </li>
                                    <li>
                                        <strong>2G</strong> CPU
                                    </li>
                                    <li>
                                        <strong>256MB</strong> 内存
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <a class="btn btn-primary btn-outline" role="button">
                                        <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>开通
                                    </a>
                                </div>
                            </div>
                            <div class="pricing-column-four featured">
                                <div class="pricing-header">
                                    <div class="pricing-price">
                                        <span class="pricing-currency">&yen;</span>
                                        <span class="pricing-amount">50</span> <span class="pricing-period">/ 月</span>
                                    </div>
                                    <div class="pricing-title">单核4G</div>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <strong>10GB</strong> 存储空间
                                    </li>
                                    <li>
                                        <strong>200MB</strong> 单文件限制
                                    </li>
                                    <li>
                                        <strong>2G</strong> CPU
                                    </li>
                                    <li>
                                        <strong>256MB</strong> 内存
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <a class="btn btn-primary btn-outline" role="button">
                                        <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>开通
                                    </a>
                                </div>
                            </div>
                            <div class="pricing-column-four">
                                <div class="pricing-header">
                                    <div class="pricing-price">
                                        <span class="pricing-currency">&yen;</span>
                                        <span class="pricing-amount">60</span> <span class="pricing-period">/ 月</span>
                                    </div>
                                    <div class="pricing-title">双核2G</div>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <strong>10GB</strong> 存储空间
                                    </li>
                                    <li>
                                        <strong>200MB</strong> 单文件限制
                                    </li>
                                    <li>
                                        <strong>2G</strong> CPU
                                    </li>
                                    <li>
                                        <strong>256MB</strong> 内存
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <a class="btn btn-primary btn-outline" role="button">
                                        <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>开通
                                    </a>
                                </div>
                            </div>
                            <div class="pricing-column-four">
                                <div class="pricing-header">
                                    <div class="pricing-price">
                                        <span class="pricing-currency">&yen;</span>
                                        <span class="pricing-amount">70</span> <span class="pricing-period">/ 月</span>
                                    </div>
                                    <div class="pricing-title">双核4G</div>
                                </div>
                                <ul class="pricing-features">
                                    <li>
                                        <strong>10GB</strong> 存储空间
                                    </li>
                                    <li>
                                        <strong>200MB</strong> 单文件限制
                                    </li>
                                    <li>
                                        <strong>2G</strong> CPU
                                    </li>
                                    <li>
                                        <strong>256MB</strong> 内存
                                    </li>
                                </ul>
                                <div class="pricing-footer">
                                    <a class="btn btn-primary btn-outline" role="button">
                                        <i class="icon wb-arrow-right font-size-16 margin-right-15" aria-hidden="true"></i>开通
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
